@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?hbzlvu');
    src:    url('fonts/icomoon.eot?hbzlvu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?hbzlvu') format('truetype'),
        url('fonts/icomoon.woff?hbzlvu') format('woff'),
        url('fonts/icomoon.svg?hbzlvu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

select, button, input {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

input:focus {
  outline: none;
}

.icon-play:before {
    content: "\e901";
}
.icon-pause:before {
    content: "\e903";
}

.icon-checkmark:before {
    content: "\e902";
}
.controls:before {
   content: "⋮";
}

.toggleTask {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100px;
    padding: 24px;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);
    text-align: center;
    color: #58cfbb;
    height: 100%;
}

.row:hover .toggleTask {
    transform: translateX(0%)
}
